.idea/
.gradle/
.kotlin/
.externalNativeBuild/
.cxx/
.test/
build/
captures/

*.aab
*.apk
*.asc
*.iml
*.log
*.rar
*.zip

deploymentTargetDropDown.xml
render.experimental.xml
output-metadata.json
local.properties
misc.xml

*.jks
*.keystore

google-services.json

*.hprof